<head>
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Hind:wght@500&display=swap" rel="stylesheet">
</head>

<header>
  <img src="../../../assets/img/title-logo.png"/>
  <ul>
    <li><a routerLink="" >Accueil</a></li>
    <li><a routerLink="" >En direct</a></li>
    <li><a routerLink="" >Programme TV</a></li>
    <li><a routerLink="" >Chaines & Apps</a></li>
    <li><a routerLink="" >Mes vidéos</a></li>
  </ul>
  <div>
    <img src="../../../assets/img/loupe.png"/>
    <img src="../../../assets/img/popcorn.png" />
  </div>
  <hr>
</header>
