header{
  width: 100%;
  header:64px;
  background-color: black;
}

header img{
  width: 7.25%;
  height: 50%;
  display: inline-block;
  vertical-align: middle;
  margin-left: 2%;
}

header ul{
  display: inline-block;
  margin-top: 1.3%;
  width: 50%;
  margin-left: 2%;
}

header li{
  list-style: none;
  display: inline-block;
  margin-right: 2%;

}

header a{
  text-decoration: none;
  color: white;
  cursor: pointer;
  font-size: 1.1rem;
  font-family: 'Hind', sans-serif;
}

header a:link{
  color: white;
}

header a:hover{
  color: #E23F66;
}

header div{
  display: inline-block;
  width:10%;
  float: right;
  margin-top: 1%;
}

header div img{
  color: white;
  height: 40px;
  width: 40px;
  margin-left: 10%;
}

.lienActif{
  color: #E23F66;
}
