<div class="affiches">
  <img src="assets/img/tousFilms.webp" (click)="this.filmCategorieService.goTousFilms()" class="affiche" id="affiche-tous-films">
  <img src="https://i.imgur.com/a8ePEps.png" (click)="this.filmCategorieService.goActionFilms()" class="affiche" id="affiche-action">
  <img src="https://i.imgur.com/2ACSgyK.png" (click)="this.filmCategorieService.goComedieFilm()" class="affiche" id="affiche-comedie">
  <img src="https://i.imgur.com/7GZlDiW.png" (click)="this.filmCategorieService.goPolicierFilm()" class="affiche" id="affiche-policier">
  <img src="https://i.imgur.com/p7rUaZ3.png" (click)="this.filmCategorieService.goWesternFilm()" class="affiche" id="affiche-western">
</div>
