.affiches{
  display: inline-block;
  background-color: black;
  display: flex;
  justify-content:center;
  padding: 1.5rem;
}

img{
  margin-right: 1%;
  cursor:pointer;
  transition: transform 0.2s ease-in-out;
  width: 200px;
  max-height: 100px;
  aspect-ratio: 1/1;
  object-fit: cover;
}

.affiche:hover {
  transform: scale(1.1);
}
