<head>
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Hind:wght@500&display=swap" rel="stylesheet">
</head>

<header>
  <a routerLink="" ><img src="../../../assets/img/title-logo.png"></a>
  <ul>
    <li><a [ngClass]="{'selection_cat': this.routeName=='/'}" routerLink="" >Accueil</a></li>
    <li><a [ngClass]="{'selection_cat': this.routeName?.includes('categories')}" routerLink="categories" >Films</a></li>
    <li><a [ngClass]="{'selection_cat': this.routeName?.includes('gestionVideo')}" routerLink="gestionVideo" >Gérer les films</a></li>
    <li><a [ngClass]="{'selection_cat': this.routeName?.includes('personnages')}" routerLink="personnages" >Personnages</a></li>
    <li><a [ngClass]="{'selection_cat': this.routeName?.includes('acteurs')}" routerLink="acteurs" >Acteurs</a></li>
    <li><a [ngClass]="{'selection_cat': this.routeName?.includes('realisateurs')}" routerLink="realisateurs" >Realisateurs</a></li>
  </ul>
  <div class="imgNav">
    <img class="imageLoupe" (click)="rechercheDepliante()"  src="../../../assets/img/loupe.png"  />
    <div class="barreRecherche" *ngIf="showRechercheDiv" >
      <input type="text" [(ngModel)]="value" (keydown.enter)="search(value)">
    </div>

    <img class="imageCompte" (mouseenter)="showPopUpProfile=true" src="../../../assets/img/popcorn.png" />
    <div [ngClass]="{'v-show': showPopUpProfile === true, 'v-hide': showPopUpProfile === false}" (mouseleave)="showPopUpProfile=false" class="popupProfil">
      <div class="row-menu">
        <div class="col-menu" *ngIf="connectedUtilisateur" (click)="goGestionProfils()">
          <img class="bulleCompte"  src="../../../assets/img/popcorn.png" />
          <span>{{this.connectedUtilisateur.login}}</span>
        </div>
        <div class="col-menu" (click)="goAjoutProfil()">
          <img class="bulleCompte"src="../../../assets/img/plus.png" />
          <span>Ajouter</span>
        </div>
      </div>

      <p (click)="goGestionProfils()">Gérer les profils</p>
      <hr>
      <div class="liste_gestion_profil" (click)="goGestionProfils()">
          <img style="margin-left: 0%" src="../../../assets/img/mon_compte.png"/>
          <p>Mon compte</p>
      </div>
      <div class="managerConnexion" (click)="managerConnexion()">
        <p *ngIf="this.connectedUtilisateur">Se déconnecter</p>
        <p *ngIf="!this.connectedUtilisateur">Se connecter</p>
      </div>
    </div>
  </div>
  <hr>
</header>

