<head>
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Hind:wght@500&display=swap" rel="stylesheet">
</head>

<header>
  <img src="../../../assets/img/title-logo.png">
  <ul>
    <li><a routerLink="" >Accueil</a></li>
    <li><a routerLink="gestionVideo" >Gérer les films</a></li>
    <li><a routerLink="videoFav" >Mes vidéos favorites</a></li>
  </ul>
  <div class="imgNav">
    <img class="imageLoupe" (click)="rechercheDepliante()"  src="../../../assets/img/loupe.png"  />
    <div class="barreRecherche" *ngIf="showRechercheDiv" ><input type="text" ></div>
    <img  class="imageCompte" src="../../../assets/img/popcorn.png" />
    <!-- popup profil-->
    <div class="popupProfil">
      <ul>
        <li><img src="../../../assets/img/popcorn.png" /></li>
        <li><p style="margin-left: -130%">Vous</p></li>
      </ul>
      <ul class="imgAjout"  style="margin-left: -20%" (click)="goAjoutProfil()">
        <li><img src="../../../assets/img/plus.png" /></li>
        <li><p>Ajouter</p></li>
      </ul>
      <p (click)="goGestionProfils()">Gérer les profils</p>
      <hr>
      <div class="liste_gestion_profil">
        <ul>
          <li>
            <img style="margin-left: 0%" src="../../../assets/img/mon_compte.png"/>
            <p>Mon compte</p>
          </li>
        </ul>
      </div>
      <div class="liste_gestion_profil">
        <ul>
          <li>
            <img style="margin-left: -20%" src="../../../assets/img/canape.png"/>
            <p>Le Club</p>
          </li>
        </ul>
      </div>
      <div class="liste_gestion_profil">
        <ul>
          <li>
            <img style="margin-left: -10%" src="../../../assets/img/assistance.png"/>
            <p>Assistance</p>
          </li>
        </ul>
      </div>
      <div class="liste_gestion_profil">
        <ul>
          <li>
            <img style="margin-left: -20%" src="../../../assets/img/astuces.png"/>
            <p>Astuces</p>
          </li>
        </ul>
      </div>
      <div class="seDeconnecter">
        <p>Se déconnecter</p>
      </div>
    </div>
  </div>
  <hr>
</header>

