<div class="blur">
  <h1>Films</h1>
  <div class="grille">
    <div class="" *ngFor="let film of films">
      <div class="imgContainer">
        <img src="{{film.lienImg}}" class="afficheFilm" (click)="showPopUp(film)">
      </div>
      <div class="txtContainer">
        <h3 class="titre">{{ film.titre }}</h3>
        <p  style="cursor: pointer">{{ film?.codeCat?.libelleCat }}</p></div>
    </div>
  </div>

  <div class="popup" *ngIf="popUp">
    <div class="col">
      <img class="imgFilm" src="{{film?.lienImg}}">
    </div>
    <div class="col col-info">

      <img (click)="popUp = false" src="assets/img/annuler.png" class="croixPopUp">
      <h1>{{ film?.titre }}</h1>

      <h3>Catégorie:</h3>
      <p>{{ film?.codeCat?.libelleCat }}</p>
      <br>

      <h3> De : </h3>
      <p>{{film?.noRea?.prenRea + " " + film?.noRea?.nomRea }}</p>
      <br>

      <h3> Casting : </h3>
      <ul>
        <li *ngFor="let p of personnages ">{{ p?.acteur?.prenAct + " " + p?.acteur?.nomAct }}</li>
      </ul>
      <br>

      <h3> Durée : </h3>
      <p>{{ toHoursAndMinutes(film?.duree) }}</p>
      <br>

      <h3> Budget : </h3>
      <p>{{ toEuro(film?.budget) }}</p>
      <br>

      <h3> Recette : </h3>
      <p>{{ toEuro(film?.montantRecette) }}</p>
      <br>

      <h3> Sortie le : </h3>
      <p>{{ film?.dateSortie }}</p>
      <br>
    </div>

  </div>

</div>

